@CHARSET "UTF-8";

/*a mudar*/

.navbar{
	height: 170px;
	margin-bottom: 0px !important;
}

.navbar-header{
	display: inline-block;
}

h1 {
	font-family: Verdana !important;
	color: #000000 !important;
	font-weight: bold;
	padding-left: 200px;
	padding-top: 30px;
	font-family: Verdana;
	font-size: 10px;
	font-variant: small-caps;
}

h2 {
	font-family: Verdana !important;
	color: #000000 !important;
	font-weight: bold;
	font-size: 5px;
	text-align: center;

}


header {
		margin-top:0px;
		font-family: arial;
}

footer {
		margin-top:100px;
		font-family: arial;
		text-align: center;
		font-size: 12px;
		font-weight: bold;
}


.searchpark {

}

.ui-spinner-input {

}


body {

	background: linear-gradient(#e4e4e4, #b5b5b5) !important; 

}


.divider {
	width: 30px;
}

.flex-container {
    display:flex;
    align-items: top; /* Vertical center alignment */
    justify-content: center; /* Horizontal center alignment */

}

.backbutton{
		text-align: center;
		margin-top: 20px;
}


