.settings/*
bin/*
target/*
.DS_STORE
.metadata/*
.classpath
.project
.project
.tern-project
/bin/
/target/
.idea/workspace.xml
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/libraries/Maven__org_primefaces_primefaces_6_0.xml
.idea/libraries/Maven__net_bootsfaces_bootsfaces_1_1_1.xml
.idea/libraries/Maven__javax_javaee_api_7_0.xml
.idea/libraries/Maven__javax_activation_activation_1_1.xml
.idea/libraries/Maven__com_sun_mail_javax_mail_1_5_0.xml
.idea/encodings.xml
.idea/compiler.xml
.idea/artifacts/Parkeet_war_exploded.xml
.idea/artifacts/Parkeet_war.xml
.idea/Parkeet.iml
.idea/libraries/Maven__org_primefaces_primefaces_6_1.xml
*.iml
.idea/artifacts/Parkee_war.xml
.idea/artifacts/Parkee_war_exploded.xml
.idea/libraries/bootstrap_1_0_10.xml
.idea/libraries/bootstrap_1_0_101.xml
